* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .button {
    background: white;
    cursor: pointer;
    border: 2px solid white;
    transition: all 0.3s ease;
    outline: none;
  }
  .button:hover {
    background: black;
    color: white;
  }
  .icon {
    margin: 9px;
    font-size: 15px;
  }
}

.left {
  flex-direction: row-reverse;
}
.right {
  flex-direction: row;
}

.default {
  background-color: white;
}

.search-field {
  height: 100%;
  width: 100%;

  outline: none;
  font-size: inherit;
  padding: 10px;
  text-align: initial;
  background-color: white;
  border: 2px solid white;
}
