$font: "Josefin Sans", sans-serif;
$button-color: #5a5a5a;
$height: 40px;
$font-size: 20px;
$icon: url("../images/search.png");
$width: 300px;
$border-size: 2px solid;
$font-color: black;
$border-raidus: 10px;
$background-size: 30px;
$background-repeat: no-repeat;
