$font: "Josefin Sans", sans-serif;
$button-color: #8233c5;
$height: 40px;
$font-size: 20px;
$icon: url("../images/search.png");
$width: 300px;
$border-size: 2px solid;
$font-color: black;
$border-raidus: 10px;
