* {
  box-sizing: border-box;
}

$height: 40px;
$width: 250px;
$textColor: black;
$Background: white;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .button {
    background: white;
    cursor: pointer;
    border: 2px solid white;
    transition: all 0.3s ease;
    outline: none;
  }
  .button:hover {
    background: black;
    color: white;
  }
  .icon {
    margin: 9px;
    font-size: 15px;
  }
}

.left {
  flex-direction: row-reverse;
}
.right {
  flex-direction: row;
}

.defaultInput {
  background-color: white;
}

.search-field {
  all: inherit;
  height: 100%;
  width: 100%;
  outline: none;
  font-size: inherit;
  padding: 10px;
  border-radius: unset;
  text-align: initial;
  background-color: white;
  .button {
    background: white;
    cursor: pointer;
    border: 2px solid white;
    transition: all 0.3s ease;
    outline: none;
  }
  .button:hover {
    background: black;
    color: white;
  }
}

@media (max-width: 450px) {
  .container {
    width: 400px;
  }
  .search-field {
    width: 200px;
  }
  .search-btn-right {
    width: 50px;
  }
}
@media (max-width: 370px) {
  .container {
    width: 400px;
  }
  .search-field {
    width: 150px;
  }
  .search-btn-right {
    width: 50px;
  }
}
@media (max-width: 290px) {
  .container {
    width: 300px;
  }
  .search-field {
    width: 150px;
  }
  .search-btn-right {
    width: 50px;
  }
}
@media (max-width: 270px) {
  .container {
    width: 200px;
  }
  .search-field {
    width: 110px;
    font-size: 18px;
  }
  .search-btn-right {
    width: 43px;
  }
}

@media (max-width: 210px) {
  .container {
    width: 230px;
  }
  .search-field {
    width: 105px;
    font-size: 16px;
  }
  .search-btn-right {
    width: 37px;
  }
}
@media (max-width: 175px) {
  .container {
    width: 200px;
  }
  .search-field {
    width: 100px;
  }
  .search-btn-right {
    width: 33px;
  }
}
@media (max-width: 150px) {
  .container {
    width: 150px;
  }
  .search-field {
    width: 70px;
    font-size: 10px;
  }
  .search-btn-right {
    width: 30px;
  }
}
@media (max-width: 120px) {
  .container {
    width: 100px;
  }
  .search-field {
    width: 30px;
    font-size: 8px;
  }
  .search-btn-right {
    width: 27px;
  }
}
@media (max-width: 80px) {
  .container {
    width: 80px;
  }
  .search-field {
    width: 20px;
    font-size: 6px;
  }
  .search-btn-right {
    width: 20px;
  }
}
@media (max-width: 80px) {
  .container {
    width: 50px;
  }
  .search-field {
    width: 10px;
    font-size: 4px;
  }
  .search-btn-right {
    width: 15px;
  }
}
@media (max-width: 75px) {
  .container {
    width: 30px;
  }
  .search-field {
    width: 5px;
    font-size: 2px;
  }
  .search-btn-right {
    width: 6px;
  }
}

// .search-field {
//   width: 250px;
//   font-size: 20px;
//   height: 40px;
//   color: $textColor;
//   font-family: $font;
//   border: 2px solid white;
//   background-color: $Background;
//   padding: 10px;
// }
